/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */
/*Use modularscale perfect fourth 3:4
https://www.modularscale.com/?18&px&1.333
1em=18px
line height at 130%= 1.3em
/* Begin site styles below */
/*background code*/
html {
  background-image: url("../img/red-back.jpg"); /*Code for HTML*/
}
/*responsive image and video code*/
img {
  display: block;
  max-width: 100%;
}
figcaption {
  color: #EBE8FF;
  font-family: "EB Garamond", serif;
  line-height: 1.3em;
  padding: 3%;
}
video {
  width: 350px;
  padding-left: 4%;
}
/*Grid code for main navigation*/
#navigation {
  background-color: rgba(35, 87, 89, 0.7); /* BACKGROUND COLOR CODE */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "home-link . "
    "edu-link skill-link"
    "hobbies-link dogs-link"
    "library-link speech-link"
    "courses-link projects-link";
    padding-top: 2%;
    text-align: center;
}
/* code for page links*/
a {
  color: #F6D6DD;
  outline: none;
  text-decoration: none;
}
#navigation a {
  background-color: #CA6378; /* BACKGROUND COLOR CODE */
  border: 2px solid #9B3E5C;
  border-radius: 0.5em;
  padding: 0.178em 0.563em;
  text-align: center;
}
#main-nav li {
  font-size: 1.999em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 6%;
  padding: 2%;
}
#nav-hom {
  grid-area: home-link;
  text-shadow: 2px 2px black;
}
#nav-edu {
  grid-area: edu-link;
  text-shadow: 2px 2px black;
}
#nav-ski {
  grid-area: skill-link;
  text-shadow: 2px 2px black;
}
#nav-hob {
  grid-area: hobbies-link;
  text-shadow: 2px 2px black;
}
#nav-dog {
  grid-area: dogs-link;
  text-shadow: 2px 2px black;
}
#nav-lib {
  grid-area: library-link;
  text-shadow: 2px 2px black;
}
#nav-spe {
  grid-area: speech-link;
  text-shadow: 2px 2px black;
}
#nav-cou {
  grid-area: courses-link;
  text-shadow: 2px 2px black;
}
#nav-pro {
  grid-area: projects-link;
  text-shadow: 2px 2px black;
}
#nav-cou, #nav-pro {
  margin-bottom: 2.5%;
}
#home #nav-hom,
#doggos #nav-dog,
#education #nav-edu,
#skills #nav-ski,
#hobbies #nav-hob,
#library #nav-lib,
#speeches #nav-spe,
#courses #nav-cou,
#projects #nav-pro,
nav a:hover,
nav a:active {
  background-color: rgba(149, 20, 30, 0.7); /* BACKGROUND COLOR CODE */
  color: #EBE8FF;
}
/*Grid code for footer*/
#footer {
  background-color: rgba(28, 81, 93, 0.7); /* BACKGROUND COLOR CODE */
  color: #EBE8FF;
  /*cute curly display typeface, same as name */
  padding: 3%;
}
#foot-text {
  font-family: "Emilys Candy", cursive;
  font-size: 2.665em;
  line-height: 1.3em;
}
#list-of-media {
  font-size: 1.5em;
  line-height: 1.3em;
}
a[href="#main-nav"] {
  text-align: center;
}
/*styles for headings*/
h1 {
  background-color: rgba(155, 62, 92, 0.5); /* BACKGROUND COLOR CODE */
  color: #1C515D;
  display: flex;
  flex-wrap: wrap;
  font-family: "Emilys Candy", cursive;
  font-size: 3.552em;
  line-height: 1.3em;
  padding-left: 3%;
  text-shadow: 1px 1px black;
  /*cute curly display typeface */
}
h3 {
  background-color: rgba(155, 62, 92, 0.5); /* BACKGROUND COLOR CODE */
  color: #0a1819;
  font-family: "Emilys Candy", cursive;
  font-size: 1.999em;
  line-height: 1.3em;
  padding-left: 3%;
  text-shadow: 1px 1px black;
}
article p {
  color: #EBE8FF;
  font-family: "EB Garamond", serif;
  font-size: 1.125em;
  line-height: 1.3em;
  padding: 3%;
}
#skill-list {
  color: #EBE8FF;
  font-family: "EB Garamond", serif;
  font-size: 1.125em;
  line-height: 1.3em;
  list-style: circle;
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
}
#dog-list li {
  color: #EBE8FF;
  font-family: "EB Garamond", serif;
  font-size: 1.125em;
  line-height: 1.3em;
  list-style: none;
  padding-top: 1%;
  padding-right: 3%;
  padding-bottom: 1%;
  padding-left: 3%;
}
#hobbies-list > li {
  color: #EBE8FF;
  font-family: "EB Garamond", serif;
  font-size: 1.125em;
  line-height: 1.3em;
  list-style: none;
  padding: 1.5%;
}
.description {
  font-size: 1em;
  padding: 1%;
}
b {
  font-weight: bold;
}
/*style for content*/
#about-box p,
#photo-space-box p,
.class-list,
#dogs-box,
#edu-box,
#hobbies-box,
#library-box,
#speech-box,
#skill-box,
#projects-box {
  background-color: rgba(204, 0, 82, 0.5); /* BACKGROUND COLOR CODE */
}
/*code for courses page's navigation bar
and its content*/
#course-list {
  background-color: rgba(85, 130, 141, 0.7); /* BACKGROUND COLOR CODE */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "com-link cs-link "
    "econ-link hist-link"
    "ipro-link itmd-link"
    "math-link phil-link"
    "ps-link psyc-link"
    "soc-link ssci-link";
  padding-top: 2%;
  text-align: center;
}
#course-nav a {
  background-color: #CA6378; /* BACKGROUND COLOR CODE */
  border: 2px solid #9B3E5C;
  border-radius: 0.5em;
  padding: 0.178em 0.563em;
  text-align: center;
}
#course-nav li {
  font-size: 1.2em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 6%;
  padding: 2%;
}
a[href="#com"] {
  grid-area: com-link;
  text-shadow: 1px 1px black;
}
a[href="#cs"] {
  grid-area: cs-link;
  text-shadow: 1px 1px black;
}
a[href="#econ"] {
  grid-area: econ-link;
  text-shadow: 1px 1px black;
}
a[href="#hist"] {
  grid-area: hist-link;
  text-shadow: 1px 1px black;
}
a[href="#ipro"] {
  grid-area: ipro-link;
  text-shadow: 1px 1px black;
}
a[href="#itmd"] {
  grid-area: itmd-link;
  text-shadow: 1px 1px black;
}
a[href="#math"] {
  grid-area: math-link;
  text-shadow: 1px 1px black;
}
a[href="#phil"] {
  grid-area: phil-link;
  text-shadow: 1px 1px black;
}
a[href="#ps"] {
  grid-area: ps-link;
  text-shadow: 1px 1px black;
}
a[href="#psyc"] {
  grid-area: psyc-link;
  text-shadow: 1px 1px black;
}
a[href="#soc"] {
  grid-area: soc-link;
  text-shadow: 1px 1px black;
}
a[href="#ssci"] {
  grid-area: ssci-link;
  text-shadow: 1px 1px black;
}
.class-name-link {
  font-size: 1.125em;
  line-height: 1.3em;
}
.class-list {
  color: #EBE8FF;
  padding: 3%;
}
/*code for courses page content*/
#courses-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
  "com-box"
  "cs-box"
  "econ-box"
  "hist-box"
  "ipro-box"
  "itmd-box"
  "math-box"
  "phil-box"
  "ps-box"
  "psyc-box"
  "soc-box"
  "ssci-box";
}
#com {
  grid-area: com-box;
}
#cs {
  grid-area: cs-box;
}
#econ {
  grid-area: econ-box;
}
#hist {
  grid-area: hist-box;
}
#ipro {
  grid-area: ipro-box;
}
#itmd {
  grid-area: itmd-box;
}
#math {
  grid-area: math-box;
}
#phil {
  grid-area: phil-box;
}
#ps {
  grid-area: ps-box;
}
#psyc {
  grid-area: psyc-box;
}
#soc {
  grid-area: soc-box;
}
#ssci {
  grid-area: ssci-box;
}

/*code for projects page's navigation bar
and its content*/
#project-list {
  background-color: rgba(85, 130, 141, 0.7); /* BACKGROUND COLOR CODE */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "bus-link rac-link "
    "fly-link log-link"
    "mem-link new-link"
    "web-link ana-link";
  padding-top: 2%;
  text-align: center;
}
#project-nav a {
  background-color: #CA6378; /* BACKGROUND COLOR CODE */
  border: 2px solid #9B3E5C;
  border-radius: 0.5em;
  padding: 0.178em 0.563em;
  text-align: center;
}
#project-nav li {
  font-size: 1.2em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 6%;
  padding: 2%;
}
#pro-bus {
  grid-area: bus-link;
  text-shadow: 1px 1px black;
}
#pro-rac {
  grid-area: rac-link;
  text-shadow: 1px 1px black;
}
#pro-fly {
  grid-area: fly-link;
  text-shadow: 1px 1px black;
}
#pro-log {
  grid-area: log-link;
  text-shadow: 1px 1px black;
}
#pro-mem {
  grid-area: mem-link;
  text-shadow: 1px 1px black;
}
#pro-new {
  grid-area: new-link;
  text-shadow: 1px 1px black;
}
#pro-web {
  grid-area: web-link;
  text-shadow: 1px 1px black;
}
#pro-ana {
  grid-area: ana-link;
  text-shadow: 1px 1px black;
}
/*style for social media links*/
#email {
  text-shadow: 1px 1px black;
}
#git {
  text-shadow: 1px 1px black;
}
#linkedin {
  text-shadow: 1px 1px black;
}
/*style for back button*/
#back {
  background-color: #CA6378; /* BACKGROUND COLOR CODE */
  border: 2px solid #9B3E5C;
  border-radius: .5em;
  color: #F6D6DD;
  float: right;
  font-size: 1.125em;
  padding: 0.178em 0.563em;
  text-shadow: 1px 1px black;
}
#back a:hover,
#back a:active {
  background-color: rgba(149, 20, 30, 0.7); /* BACKGROUND COLOR CODE */
  color: #EBE8FF;
}
@media screen and (min-width: 500px) {
  video {
    width: 400px;
    padding-left: 8%;
  }
  img {
    max-width: 80%;
    padding-left: 10%;
  }
  #main-nav li {
    margin-bottom: 5%;
    margin-top: 0%;
  }
  #project-nav li {
    margin-bottom: 3%;
    margin-top: 0%;
  }
  #course-nav li {
    margin-bottom: 3%;
    margin-top: 0%;
  }
  figcaption {
    padding-left: 10%;
    padding-right: 10%;
  }
  html {
    padding: 2%;
  }
  article p {
    padding-left: 6%;
    padding-right: 6%;
  }
  #skill-list {
    padding-left: 6%;
    padding-right: 6%;
  }
  #dog-list li {
    padding-left: 6%;
    padding-right: 6%;
  }
  #hobbies-list > li {
    list-style: none;
    padding-left: 6%;
    padding-right: 6%;
  }
}
@media screen and (min-width: 750px) {
  video {
    padding-left: 20%;
  }
  #navigation {
    grid-template-areas:
      "home-link edu-link skill-link "
      "hobbies-link dogs-link library-link"
      "speech-link courses-link projects-link";
    grid-template-columns: repeat(3, 1fr);
  }
  #main-nav li {
    margin-bottom: 6%;
    margin-top: 2.5%;
  }
  #project-nav li {
    margin-bottom: 3%;
    margin-top: 1%;
  }
  #course-nav li {
    margin-bottom: 3%;
    margin-top: 1%;
  }
  #back {
    font-size: 1.777em;
  }
  img {
    max-width: 60%;
    padding-left: 20%;
  }
  figcaption {
    line-height: 1.3em;
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
  }
  #course-list {
    grid-template-areas:
      "com-link cs-link econ-link"
      "hist-link ipro-link itmd-link"
      "math-link phil-link ps-link"
      "psyc-link soc-link ssci-link";
    grid-template-columns: repeat(3, 1fr);
  }
  #project-list {
    grid-template-areas:
      "bus-link rac-link fly-link"
      "log-link mem-link new-link"
      "web-link ana-link";
    grid-template-columns: repeat(3, 1fr);
  }
  html {
    padding: 5%;
  }
}
@media screen and (min-width: 1000px) {
  video {
    width: 500px;
    padding-left: 25%;
  }
  h1 {
    font-size: 4.209em;
  }
  #courses-box h3 {
    text-align: center;
  }
  #main-nav li {
    font-size: 2.369em;
  }
  #project-nav li {
    font-size: 1.333em;
  }
  #course-nav li {
    font-size: 1.333em;
  }
  #foot-text {
    font-size: 3.157em;
  }
  #list-of-media {
    font-size: 1.777em;
  }
  #back {
    font-size: 2.369em;
  }
  article p {
    font-size: 1.333em;
    padding-left: 10%;
  }
  #skill-list {
    font-size: 1.777em;
    padding-left: 10%;
  }
  #dog-list li {
    font-size: 1.333em;
    padding-left: 10%;
  }
  #hobbies-list > li {
    font-size: 1.333em;
    padding-left: 10%;
  }
  figcaption {
    font-size: 1.125em;
    padding-left: 30%;
    padding-right: 30%;
  }
  #courses-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "com-box cs-box"
    "econ-box hist-box"
    "ipro-box itmd-box"
    "math-box phil-box"
    "ps-box psyc-box"
    "soc-box ssci-box";
  }
  .class-list {
    background: none;
    padding-left: 15%;
  }
  img {
    max-width: 40%;
    padding-left: 30%;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }
  #gallery li {
    flex: 1 1 400px;
  }
  #gallery img {
    max-width: 90%;
    padding-left: 5%;
  }
  #gallery figcaption {
    padding-left: 5%;
  }
  #gallery-lib {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }
  #gallery-lib li {
    flex: 1 1 400px;
  }
  #gallery-lib img {
    max-width: 90%;
    padding-left: 5%;
  }
  #gallery-lib figcaption {
    padding-left: 5%;
  }
}
@media screen and (min-width: 1300px) {
  video {
    padding-left: 30%;
  }
  h1 {
    font-size: 5.61em;
    padding-left: 10%;
  }
  h3 {
    font-size: 2.369em
  }
  footer {
    padding-left: 10%;
  }
  #gallery li {
    flex: 1 1 350px;
  }
  #gallery-lib li {
    flex: 1 1 350px;
  }
}
@media screen and (min-width: 1500px) {
  video {
    padding-left: 35%;
  }
  .video figcaption {
    padding-left: 35%;
  }
  #main-nav li {
    margin-bottom: 3%;
  }
  #gallery li {
    flex: 1 1 400px;
  }
  #gallery-lib li {
    flex: 1 1 400px;
  }
}
@media screen and (min-width: 1789px) {
  #gallery li {
    flex: 1 1 500px;
  }
  #gallery-lib li {
    flex: 1 1 500px;
  }
  #courses-box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "com-box cs-box econ-box"
    "hist-box ipro-box itmd-box"
    "math-box phil-box ps-box"
    "psyc-box soc-box ssci-box";
  }
  .class-name-link {
    font-size: 1.333em;
  }
}
