/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */
/*Use modularscale perfect fourth 3:4
https://www.modularscale.com/?18&px&1.333
1em=18px
line height at 130%= 1.3em
/* Begin site styles below */
/*background code*/
html {
  background-image: url("../img/red-back.jpg"); /*Code for HTML*/
}
/*responsive image code */
img {
  display: block;
  max-width: 100%;
}
figcaption {
  color: #EBE8FF;
  font-family: "EB Garamond", serif;
  line-height: 1.3em;
  padding: 3%;
}
/*Grid code for main navigation*/
#navigation {
  background-color: rgba(35, 87, 89, 0.7); /* BACKGROUND COLOR CODE */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "home-link . "
    "edu-link skill-link"
    "hobbies-link dogs-link"
    "library-link speech-link"
    "courses-link projects-link";
  text-align: center;
  padding-top: 2%;
}
/* code for page links*/
a {
  color: #F6D6DD;
  outline: none;
  text-decoration: none;
}
#navigation a {
  background-color: #CA6378; /* BACKGROUND COLOR CODE */
  border: 2px solid #9B3E5C;
  border-radius: 0.5em;
  padding: 0.178em 0.563em;
  text-align: center;
}
#main-nav li {
  font-size: 1.999em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 6%;
  padding: 2%;
}
#nav-hom {
  grid-area: home-link;
  text-shadow: 2px 2px black;
}
#nav-edu {
  grid-area: edu-link;
  text-shadow: 2px 2px black;
}
#nav-ski {
  grid-area: skill-link;
  text-shadow: 2px 2px black;
}
#nav-hob {
  grid-area: hobbies-link;
  text-shadow: 2px 2px black;
}
#nav-dog {
  grid-area: dogs-link;
  text-shadow: 2px 2px black;
}
#nav-lib {
  grid-area: library-link;
  text-shadow: 2px 2px black;
}
#nav-spe {
  grid-area: speech-link;
  text-shadow: 2px 2px black;
}
#nav-cou {
  grid-area: courses-link;
  text-shadow: 2px 2px black;
}
#nav-pro {
  grid-area: projects-link;
  text-shadow: 2px 2px black;
}
#nav-cou, #nav-pro {
  margin-bottom: 2.5%;
}
#home #nav-hom,
#doggos #nav-dog,
#education #nav-edu,
#skills #nav-ski,
#hobbies #nav-hob,
#library #nav-lib,
#speeches #nav-spe,
#courses #nav-cou,
#projects #nav-pro,
nav a:hover,
nav a:active {
  background-color: rgba(149, 20, 30, 0.7); /* BACKGROUND COLOR CODE */
  color: #EBE8FF;
}
/*Grid code for footer*/
#footer {
  color: #EBE8FF;
  background-color: rgba(28, 81, 93, 0.7); /* BACKGROUND COLOR CODE */
  /*cute curly display typeface, same as name */
  padding: 3%;
}
#foot-text {
  font-family: "Emilys Candy", cursive;
  font-size: 2.665em;
  line-height: 1.3em;
}
#list-of-media {
  font-size: 1.5em;
  line-height: 1.3em;
}
a[href="#main-nav"] {
  text-align: center;
}
/*styles for headings*/
h1 {
  background-color: rgba(155, 62, 92, 0.5); /* BACKGROUND COLOR CODE */
  color: #1C515D;
  display: flex;
  flex-wrap: wrap;
  font-family: "Emilys Candy", cursive;
  font-size: 3.552em;
  line-height: 1.3em;
  padding-left: 3%;
  text-shadow: 1px 1px black;
  /*cute curly display typeface */
}
h3 {
  background-color: rgba(155, 62, 92, 0.5); /* BACKGROUND COLOR CODE */
  color: #0a1819;
  font-family: "Emilys Candy", cursive;
  font-size: 1.999em;
  line-height: 1.3em;
  text-shadow: 1px 1px black;
}
article p {
  color: #EBE8FF;
  font-family: "EB Garamond", serif;
  font-size: 1.125em;
  line-height: 1.3em;
  padding: 3%;
}
#skill-list {
  color: #EBE8FF;
  font-family: "EB Garamond", serif;
  font-size: 1.125em;
  line-height: 1.3em;
  list-style: circle;
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
}
#dog-list li {
  color: #EBE8FF;
  font-family: "EB Garamond", serif;
  font-size: 1.125em;
  line-height: 1.3em;
  padding: 3%;
}
#hobbies-list > li {
  color: #EBE8FF;
  font-family: "EB Garamond", serif;
  font-size: 1.125em;
  line-height: 1.3em;
  list-style: circle;
  padding: 1.5%;
}
b {
  font-weight: bold;
}
/*style for content*/
#about-box p,
#photo-space-box p,
.class-list,
#dogs-box,
#edu-box,
#hobbies-box,
#library-box,
#speech-box,
#skill-box,
#projects-box {
  background-color: rgba(204, 0, 82, 0.5); /* BACKGROUND COLOR CODE */
}
/*code for courses page's navigation bar
and its content*/
#course-list {
  background-color: rgba(85, 130, 141, 0.7); /* BACKGROUND COLOR CODE */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "com-link cs-link "
    "econ-link hist-link"
    "ipro-link itmd-link"
    "math-link phil-link"
    "ps-link psyc-link"
    "soc-link ssci-link";
  text-align: center;
  padding-top: 2%;
}
#course-nav a {
  background-color: #CA6378; /* BACKGROUND COLOR CODE */
  border: 2px solid #9B3E5C;
  border-radius: 0.5em;
  padding: 0.178em 0.563em;
  text-align: center;
}
#course-nav li {
  font-size: 1.2em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 6%;
  padding: 2%;
}
a[href="#com"] {
  grid-area: com-link;
  text-shadow: 1px 1px black;
}
a[href="#cs"] {
  grid-area: cs-link;
  text-shadow: 1px 1px black;
}
a[href="#econ"] {
  grid-area: econ-link;
  text-shadow: 1px 1px black;
}
a[href="#hist"] {
  grid-area: hist-link;
  text-shadow: 1px 1px black;
}
a[href="#ipro"] {
  grid-area: ipro-link;
  text-shadow: 1px 1px black;
}
a[href="#itmd"] {
  grid-area: itmd-link;
  text-shadow: 1px 1px black;
}
a[href="#math"] {
  grid-area: math-link;
  text-shadow: 1px 1px black;
}
a[href="#phil"] {
  grid-area: phil-link;
  text-shadow: 1px 1px black;
}
a[href="#ps"] {
  grid-area: ps-link;
  text-shadow: 1px 1px black;
}
a[href="#psyc"] {
  grid-area: psyc-link;
  text-shadow: 1px 1px black;
}
a[href="#soc"] {
  grid-area: soc-link;
  text-shadow: 1px 1px black;
}
a[href="#ssci"] {
  grid-area: ssci-link;
  text-shadow: 1px 1px black;
}

.class-name-link {
  font-size: 1.125em;
  line-height: 1.3em;
}
.class-list {
  color: #EBE8FF;
  padding: 3%;
}
/*code for projects page's navigation bar
and its content*/
#project-list {
  background-color: rgba(85, 130, 141, 0.7); /* BACKGROUND COLOR CODE */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "bus-link rac-link "
    "fly-link log-link"
    "mem-link new-link"
    "web-link ana-link";
  text-align: center;
  padding-top: 2%;
}
#project-nav a {
  background-color: #CA6378; /* BACKGROUND COLOR CODE */
  border: 2px solid #9B3E5C;
  border-radius: 0.5em;
  padding: 0.178em 0.563em;
  text-align: center;
}
#project-nav li {
  font-size: 1.2em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 6%;
  padding: 2%;
}
#pro-bus {
  grid-area: bus-link;
  text-shadow: 1px 1px black;
}
#pro-rac {
  grid-area: rac-link;
  text-shadow: 1px 1px black;
}
#pro-fly {
  grid-area: fly-link;
  text-shadow: 1px 1px black;
}
#pro-log {
  grid-area: log-link;
  text-shadow: 1px 1px black;
}
#pro-mem {
  grid-area: mem-link;
  text-shadow: 1px 1px black;
}
#pro-new {
  grid-area: new-link;
  text-shadow: 1px 1px black;
}
#pro-web {
  grid-area: web-link;
  text-shadow: 1px 1px black;
}
#pro-ana {
  grid-area: ana-link;
  text-shadow: 1px 1px black;
}
/*style for social media links*/
#email {
  text-shadow: 1px 1px black;
}
#git {
  text-shadow: 1px 1px black;
}
#linkedin {
  text-shadow: 1px 1px black;
}
/*style for back button*/
#back {
  color: #F6D6DD;
  float: right;
  font-size: 1.125em;
  text-shadow: 1px 1px black;
  background-color: #CA6378; /* BACKGROUND COLOR CODE */
  border: 2px solid #9B3E5C;
  border-radius: .5em;
  padding: 0.178em 0.563em;
}
#back a:hover,
#back a:active {
  background-color: rgba(149, 20, 30, 0.7); /* BACKGROUND COLOR CODE */
  color: #EBE8FF;
}
